div {
  border: 5px solid red;
  width: 400px;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
[src="/images/1-1.png"] {
  animation: show 1s 0.5s both;
}
[src="/images/1-2.png"] {
  animation: down 2.5s 0.8s both;
}
[src="/images/1-3.png"] {
  animation: big 1.8s 1s both;
}
[src="/images/1-4.png"] {
  animation: show 2s 1.2s both;
}
[src="/images/1-5.png"] {
  animation: show 2.5s 1.5s both;
}
img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes down {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes big {
  from {
    transform: scale(0);
    /* opacity: 0; */
  }
  to {
    transform: scale(1);
    /* opacity: 1; */
  }
}
